<div class="card">
  <div class="card-body">
  <h4 class="card-title">{{post.title | uppercase}}</h4>
  <p class="card-text">{{post.content}}</p>    
  </div>
</div>

<form>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="post.title" id="title" [(ngModel)] = "post.title" placeholder="title">    
  </div>
  <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" name="post.content" id="content" [(ngModel)] = "post.content"></textarea>
  </div>
</form>
