<!--The content below is only a placeholder and can be replaced.-->
<app-nav-bar></app-nav-bar>

<main role="main" class="container-fluid">
<!--
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>    
    <h2>{{title}}</h2>
    <h3>{{post.title}}</h3>
    <p>{{post.content}}</p>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>        
  </div>
-->
  <div class="row">
  <div class="col-md-9" >
    <app-post></app-post>
  </div>
  <div class="col-md-3">
    <app-messages></app-messages>
  </div>
</div>

</main>
