<h2>{{title}}</h2>
<hr>
<form>
    <div class="form-group">
        <label for="title">Id</label>
        <input class="form-control" name="post.id" id="id" [(ngModel)] = "post.id" placeholder="ID">    
      </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input class="form-control" name="post.title" id="title" [(ngModel)] = "post.title" placeholder="title">    
  </div>
  <div class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" name="post.content" id="content" [(ngModel)] = "post.content"></textarea>
  </div>
  <button class="btn btn-lg btn-primary" (click)="save()">Save</button>
  <button class="btn btn-lg btn-default" (click)="cancel()">Cancel</button>
</form>
